h1{
  text-align: center;
}

.container{
display: flex;
flex-direction: column;
gap: 13px;
align-items: center;
margin-top: 30px;
}

.lineContainer{
display: flex;
gap: 13px;
}

.box{
height: 80px;
width: 80px;
border-radius: 5px;
border: none;
background-color: #796868;
font-size: 60px;
color: white;
}

.reset{
height: 40px;
border-radius: 6px;
border: none;
width: 100px;
background-color: gray;
font-size: 15px;
font-weight: 700;
cursor: pointer;
margin-top: 35px;
}

.newGame{
height: 40px;
border-radius: 6px;
border: none;
width: 100px;
background-color: gray;
font-size: 15px;
font-weight: 700;
cursor: pointer;
}

.msg-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.msg{
  font-size: 25px;
}

.hide{
  display: none;
}   

.hideBtn{
  display:block;
}


